@import "./bootstrap";
@import "./mixins";
@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap/variables";
/*@import "./typography";*/


/*typography*/
@include font-face("BorgiaPro", "../fonts/BorgiaPro-Regular-webfont");
@include font-face("BorgiaPro Bold", "../fonts/BorgiaPro-Bold-webfont", "bold");
@include font-face("BorgiaPro Italic", "../fonts/BorgiaPro-Italic-webfont", "italic");
@include font-face("BorgiaPro Bold Italic", "../fonts/BorgiaPro-BoldItalic-webfont", "bold", "italic");

body{
    font-size: 12pt;
}

h1,h2,p,a,aside,label,li{
    font-family: "BorgiaPro";
}

ul{
    text-align: left;
    list-style-type: none;
    font-size: 90%;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}

aside, input, input:hover{
    font-family: "BorgiaPro Italic";
}

a,a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
    &:hover{
        font-family:"BorgiaPro Italic";
        cursor:pointer;
    }
}

.flash{
    color: red;
}

//custom elements
page-container,
question-module{
  display: block;  
}




//general element styles
body{
    position: relative;
    
    
    page-container{
        @extend .col-xs-10; 
        @extend .col-sm-5; 
        margin-top:25vh; 
        position:absolute;
        left: 50%;
        right: 50%;
        text-align: center;
        
        
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        @media(min-width: $screen-sm-min){
            margin-left: -22%;  
        }
        @media(max-width: $screen-xs-max){
                margin-left: -41vw; 
        }
    }
    
    
    form{
        div{
            margin:20px;
            input{
                border-style: hidden hidden solid hidden;
                border-bottom: black 1px solid;
                &:focus{
                    outline:none;
                }
                font-size: 100%;
            }
            input[type='radio']:checked{
                outline-color:black;
            }
        }
    }
}

input[type="submit"]{
    border:none;
    background-color: transparent;
    margin-top: 20px;
    &:hover{
        cursor:pointer;
    }
}

//page specific styles
body[data-activePage="questions"]{
    page-container{
        margin-top: 20vh;
        overflow: scroll;
        padding-bottom: 100px;
        @media(max-width: $screen-xs-max){
            margin-left: -49vw; 
        }
        form{
            margin:75px 0 150px 0;
            
            p{
                font-weight: bold;
            }
            ul{
                @media(max-width: $screen-xs-max){
                    padding:0;
                }

            }
            
        }
    }
}








