@import "./bootstrap";
@import "./mixins";
@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./typography";


//custom elements
page-container,
question-module,
score-module,
simulator-module,
highlighted-action,
highlighted-score,
users-scores,
new-score{
    display: block;  
}

thug-score,
new-score{
    display: inline-block;
}


//general element styles
body{
    position: relative;
    
    
    page-container{
        @extend .col-xs-10; 
        @extend .col-sm-5; 
        margin-top:25vh; 
        position:absolute;
        left: 50%;
        right: 50%;
        text-align: center;
  
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        @media(min-width: $screen-sm-min){
            margin-left: -22%;  
        }
        @media(max-width: $screen-xs-max){
                margin-left: -41vw; 
        }
    }
    
    
    form{
        div{
            margin:20px;
            input{
                border-style: hidden hidden solid hidden;
                border-bottom: black 1px solid;
                &:focus{
                    outline:none;
                }
                font-size: 100%;
            }
            input[type='radio']:checked{
                outline-color:black;
            }
        }
    }
}

score-module{
    @extend .col-xs-12;
    border: 10px black solid;
    border-style: double;
    padding-left:0;
    padding-bottom: 20px;
    p{
        margin-top: 2px;
        margin-left: 2px;
    }
}

simulator-module{
    @extend score-module;   
}


input[type="submit"]{
    border:none;
    background-color: transparent;
    margin-top: 20px;
    
    &:hover{
        cursor:pointer;
    }
    &:focus{
        outline:none;
    }
}

//page specific styles
body[data-activePage="questions"]{
    page-container{
        margin-top: 20vh;
        overflow: scroll;
        padding-bottom: 100px;
        @media(max-width: $screen-xs-max){
            margin-left: -49vw; 
        }
        form{
            margin:75px 0 150px 0;
            
            p{
                font-weight: bold;
            }
            ul{
                @media(max-width: $screen-xs-max){
                    padding:0;
                }

            }
            
        }
    }
}








